# Python
__pycache__/
*.py[cod]

# Virtual environment
backend/venv/
venv/

# Environment variables
.env

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db